<h1>Change Your Password</h1>


<% form_for :password_reset, @password_reset, :url => password_reset_url(params[:id]), 
            :html => { :method => :put } do |s| %>
            
<p>
	<%= s.label :password, "Pick a new password", :class=>"standard" %><br />
	<%= s.password_field :password, :tabindex => 1 %>
</p>
<p>
	<%= submit_tag 'Set my password', :tabindex => 2 %>
</p>
    
<% end %>
