.clear{clear:both;}.hide{position:absolute;left:-9999px;}.clear_this{overflow:hidden;width:100%;}.align_left{text-align:left;}.align_right{text-align:right;}.align_center{text-align:center;}

/*
	Positioning
*/


body {

}

div.wrapper {
	width: 806px;
	padding: 0 20px;
	margin: 0 auto;
}

div#header {
	height: 85px;
	padding-top: 20px;
}

div#breadcrumbs {
	padding-top: 32px;
}

div#content {
	padding-top: 6px;
}

	div#content_area {
		padding: 0 20px;
	}

	div#left {
		width: 460px;
		float: left;
	}
	
	div#right {
		width: 280px;
		float: right;
		padding-top: 2px;
	}


/*
	Backgrounds, colors, sizes, etc.
*/

body {
	font-family: Arial, Verdana, sans-serif;
	background: #e3e3ce url(/images/bg-body-repeat.gif) top repeat-x;
}

div#header {

}

	div#header img {
		padding-left: 10px;
	}

	div#header p#current_user {
		width: 260px;
		padding: 21px 23px 0 0;
		float: right;
		
		line-height: 1.4em;
		font-size: 0.7em;
		font-weight: bold;
		text-align: right;
		color: #fff;
		text-transform: uppercase;
	}
	
	div#header a:link, div#header a:visited, div#header a:hover {
		color: #eee;
		text-decoration: underline;
	}


div#breadcrumbs p {
	color: #eee;
	font-weight: bold;
	font-size: 0.8em;
	padding-left: 23px;
}

div#breadcrumbs a:link, div#breadcrumbs a:visited, div#breadcrumbs a:hover {
	color: #d7e1ff;
	text-decoration: underline;
}




div#content_top {
	background: transparent url(/images/bg-content-top.png) top center no-repeat;
	height: 32px;
}

div#content_bot {
	background: transparent url(/images/bg-content-bot.png) top center no-repeat;
	height: 32px;
}

div#content_area {
	background: transparent url(/images/bg-content-repeat.png) center repeat-y;
}



div#content {
	color: #3b3939;
}

div#content a:link, div#content a:visited, div#content a:hover {
	color: #4363bf;
	text-decoration: none;
}

	div#content a:hover {
		text-decoration: underline;
	}

div#content h1 {
	color: #407032;
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -1px;
	
	padding: 0 0 0.4em 0;
}

	div#content h1 span.smaller {
		font-size: 70%;
		color: #444;
	}

div#content h2 {
	color: #659a56;
	font-size: 0.95em;
	text-transform: uppercase;
	font-weight: bold;
	
	padding: 0.7em 0 0.3em 0;
}

	div#content h2.no_margin { padding: 0; }

div#content h3 {
	font-size: 1em;
	padding: 0.5em 0 0.2em 0;
	
}

div#content p, div#content ul, div#content ol {
	font-size: 0.8em;
	padding: 0.5em 0;
	line-height: 1.4em;
}

	div#content ol, div#content ul {
		list-style: disc;
		margin-left: 15px;
	}
	
div#content li {
	padding: 3px 0;
}




div#content p.highlight {
	background: #ffc;
	padding: 6px 10px;

}


div#content div.event_listing {
	padding: 12px 0;
	border-bottom: 1px solid #c1c1a3;
}

	div#content div.less_padding {
		padding: 5px 0 15px 0;
	}

	div#content div.event_listing h3 {
		padding: 0.2em 0;
		font-size: 1.2em;
	}
	
		div#content div.event_listing h3.full {
			padding-left: 41px;
			background: transparent url(../images/icons/icon-full.png) center left no-repeat;
		}

	div#content div.event_listing p {
		padding: 2px 0 2px 18px;
		background: transparent url(../images/icons/arrow_right_alt1_12x12.png) 0px 5px no-repeat;
		color: #222;
		text-transform: uppercase;	
	}
	

		div#content div.event_listing p.event_date { background: transparent url(../images/icons/calendar_alt_fill_12x12.png) 0px 5px no-repeat;	}
		div#content div.event_listing p.event_time { background: transparent url(../images/icons/clock_12x12.png) 0px 5px no-repeat; }
		div#content div.event_listing p.event_location { background: transparent url(../images/icons/map_pin_fill_12x12.png) 2px 5px no-repeat;	}
	

	
	div#content div.event_listing p span.line_heading {
		font-weight: bold;
		text-transform: uppercase;
		color: #5d504f;
	}
	
	div#content div.event_listing p.event_cancellation {
		background-position: 0px 5px;
	}
	
		div#content div.event_listing p.event_cancellation span {
			background-color: #ffc;
			font-weight: bold;
		}


div.event_left {
	width: 48%;
	float: left;
}

div.event_right {
	width: 48%;
	float: right;
}


div#content label.standard {
	font-weight: bold;
	color: #555;
	text-transform: uppercase;
	cursor: pointer;
}

div#content input.standard {
	padding: 5px 3px;
	font-size: 1.1em;
	color: #444;
	font-family: Courier;
	letter-spacing: 1px;
}

	div#content input.standard:focus {
		color: #000;
	}
	
div#content textarea.standard {
	padding: 5px 3px;
	font-size: 1em;
	line-height: 1.3em;
	color: #444;
	font-family: Courier;
	letter-spacing: 1px;
}
	div#content textarea.standard:focus {
		color: #000;
	}

div#content input.small_number {
  width: 3em;
}


div#notice {
	background: #ffc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}

	div#content div#notice p {
		color: #222;
		font-weight: bold;
		font-size: 0.95em;
		
		padding: 7px 10px;
	}


div#footer p {
	padding: 0.8em 23px;
	font-size: 0.8em;
	line-height: 1.3em;
	font-weight: bold;
	color: #565454;
}

div#footer a:link, div#footer a:visited, div#footer a:hover {
	color: #4363bf;
	text-decoration: none;
}

	div#footer a:hover {
		text-decoration: underline;
	}


.emailError {
  background-color: #FFB6C1;
 	padding: 5px 3px;
	font-size: 1.1em;
	color: #444;
	font-family: Courier;
	letter-spacing: 1px; 
}

#upcomingevents th,
#newsitems th,  
#fundraisings th {
	padding: 5px 3px;
	text-align: left;
}

td.eventfield,
td.newsname, 
td.fundraisingname {
	padding: 5px 3px;
}

td.newslink, 
td.fundraisinglink {
	padding: 5px 10px 5px 3px;
}

td.eventaction,
td.newsaction, 
td.fundraisingaction {
	border-left: 1px solid #CCCCCC;
	padding: 5px 5px;
}






div#content table.dashboard {
	width: 100%;
}

	div#content table.dashboard th {
		font-size: .9em;
		text-transform: uppercase;
		padding: 5px 3px;
	}

	div#content table.dashboard td {
		font-size: 0.75em;
		padding: 6px 3px;
		text-align: center;
	}
		
		div#content table.dashboard td.align_left {
			text-align: left;
		}
	
		div#content table.dashboard td.status_cell {
			font-weight: bold;
			text-transform: uppercase; padding-left: 0; padding-right: 0;
		}

	div#content table.dashboard tr.yellow td {
		background-color: #ffc;
	}

	div#content table.dashboard tr.full td {
		background-color: #ddd;
	}



