body, div#content_area {
	background: #fff;
}


div#header, div#footer, div#content_top, div#content_bot, div#breadcrumbs, .hide, .print_hide {
	display: none;
}


div.wrapper {
	width: 100%;
	margin: auto;
}




