<h1>New user</h1>

<% form_for(@user) do |user_form| %>
  <%= render :partial => 'users/form', :locals => { :user_form => user_form, :user => @user } %>
  <%= user_form.submit 'Sign up' %>
<% end %>

<%= link_to 'Back', users_path %>
